/*
  A block of author information, found on the author profile sidebar.

  <div class="author-profile">
    // Avatar here (no class required)
    <h1 class="author-profile__name">
      // Username
    </h1>
    <div class="author-profile__meta"
      <p>
        // Meta
      </p>
    </div>
  </div>
*/

.author-profile {
  padding-right: $spacing-unit;

  @media only screen and (max-width: $desktop){
    padding: 0 0 ($spacing-unit * 1.5) 0;

    img  {
      display: none;
    }
  }

  h1.author-profile__name {
    padding: 10px 0;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    margin: 20px 0;
    word-break: break-all;

    @media only screen and (max-width: $desktop){
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }

  &__meta {
    font-style: italic;
  }
}
